@use '../../styles/variables' as *;

.sectionNameWrapper {
  background-color: black;
  text-align: center;
  padding: $main-padding * 2 0;

  h2,
  p {
    color: white;
    margin: 0;
  }

  p {
    margin-top: $main-margin;
  }
}