@use '../../styles/variables' as *;

.primary {
  background-color: $pretty-blue;
  border: 1px solid $pretty-black;
  color: white;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgb(0 0 0 / 15%);
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  padding: $main-padding * 1.1 $main-padding  * 2 $main-padding $main-padding  * 2;
  border-radius: 8px;
  letter-spacing: .05rem;
  text-align: center;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: $pretty-blue-hover;
    color: white;
    transition: all 0.1s ease-in-out;
  }
}