@use '../../styles/variables' as *;

.primary {
  background-color: black;
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: $main-padding * .5 $main-padding;
  border-radius: $main-button-border-radius;
}