@use '../../styles/variables' as *;

.projectCard {
  border: 8px solid $pretty-black-90;
  border-radius: 8px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;

  img {
    max-width: 200px; 
  }
}

.skill {
  background-color: $pretty-black-90;
  text-transform: uppercase;
  line-height: 1; 
  padding: $main-padding * 0.5;
  color: white;
  font-size: $main-font-size * .75;
  text-align: center;
  letter-spacing: 0.50px;
}

.contentContainer {
  text-align: center;
  padding: $main-padding * 1.5 $main-padding * 4;

  .projectName {
    color: $pretty-black-90;
    margin: 0;
    padding-bottom: $main-padding * 0.5;
  }

  .projectDescription {
    line-height: 1.15;
    margin-bottom: 1.5rem;
  }
}