@use '../../styles/variables' as *;

.projectCard {
  border: 2px solid black;
  border-radius: 8px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;

  img {
    max-width: 200px; 
  }
}

.skill {
  background-color: black;
  text-transform: uppercase;
  line-height: 1; 
  padding: $main-padding * 0.5;
  color: white;
  font-size: $main-font-size * .75;
  text-align: center;
}

.contentContainer {
  text-align: center;
  padding: $main-padding * 1.5 $main-padding * 4;

  .projectName {
    margin: 0;
    padding-bottom: $main-padding / 2;
  }

  .projectDescription {
    line-height: 1.15;
  }
}