@use '../../styles/variables' as *;

.projectsContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: $main-gap;
  margin: $main-margin * 3 0 $main-margin * 4 0;
}

.project1 {
  grid-column: 3 / 7;

  @media (max-width: 1240px) {
    grid-column: 2 / 7;
  }

  @media (max-width: 1040px) {
    grid-column: span 6;
  }

  @media (max-width: 840px) {
    grid-column: span 12;
  }
}

.project2 {
  grid-column: 7 / 11;

  @media (max-width: 1240px) {
    grid-column: 7 / 12;
  }

  @media (max-width: 1040px) {
    grid-column: span 6;
  }

  @media (max-width: 840px) {
    grid-column: span 12;
  }
}