// Colors
$pretty-black: #1F1E22;
$pretty-black-90: rgba($pretty-black, 0.9);
$pretty-black-80: rgba($pretty-black, 0.8);
$pretty-black-10: rgba($pretty-black, 0.1);
$pretty-blue: #1da1ed;
$pretty-blue-hover: #23B1F0;

// Typography
$main-font-family: 'Montserrat', sans-serif;
$main-font-size: 1rem; 
$main-font-weight: 500;

// Spacing
$main-margin: 1rem; 
$main-padding: 1rem; 
$main-gap: 1rem;
