@use './variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: $main-font-family;
}

h1 {
  color: $pretty-black;
  font-weight: $main-font-weight; 
  font-size: $main-font-size * 3; 
  line-height: 1;
  letter-spacing: -($main-font-size * .15);
  margin: 0 0 $main-margin 0;
}

p {
  color: $pretty-black-90;
  font-weight: $main-font-weight;
  line-height: 1.5;
  margin: 0 0 $main-margin 0;
}

.global-max-width {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 32px; 
}