// Colors
$pretty-black: #1F1E22;
$pretty-black-90: rgba($pretty-black, 0.9);

// Typography
$main-font-family: 'Montserrat', sans-serif;
$main-font-size: 1rem; 
$main-font-weight: 500;

// Spacing
$main-margin: 1rem; 
$main-padding: 1rem; 