@use '../../styles/variables' as *;

header {
  background-color: $pretty-black;
  color: white;
  font-family: $main-font-family;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center; 

  @media (max-width: 840px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.linksContainer {
  display: flex;
  list-style: none;

  @media (max-width: 840px) {
    display: none;
    flex-direction: column;
    align-self: flex-end;
    align-items: flex-end;
    padding-top: $main-padding;
  }

  li {
    margin: $main-margin;

    @media (max-width: 840px) {
      margin: 0 0 $main-margin 0;
    }
  }

  a {
    color: white;
    text-decoration: none;
    letter-spacing: .25px;

    &:hover,
    &:focus {
      color: rgba(white, .8)
    }
  }
}

.logoAndHamburgerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .logo {
    max-width: 75px;
    margin: $main-margin 0;
  }
}


.hamburgerWrapper {
  display: none;

  @media (max-width: 840px) {
    display: block;
  } 

  button {
    display: flex;
    background: none;
    border: none;
  }

  svg {
    overflow: visible;
  }

  path {
    stroke-dasharray: 25 50;
    stroke-dashoffset: 0;
  }

  .line {
    fill: none;
    stroke: white;
    stroke-miterlimit: 10;
    stroke-width: 3px;
    stroke-linecap: round;

    &Top,
    &Bottom {
      transition: stroke-dashoffset 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &Middle {
      opacity: 1;
      transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .x {
    .line {
      &Middle {
        opacity: 0;
      }

      &Top,
      &Bottom {
        stroke-dashoffset: -45;
      }
    }
  } 
}
