@use '../../styles/variables' as *;

.aboutSectionWrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: $main-padding * 2;
  max-width: 1000px;
  margin: $main-margin * 4 auto;
  align-items: center;
  justify-items: center;

  @media (max-width: 840px) {
    margin: $main-margin * 2 auto;
    gap: $main-padding;
  }
}

.introductionSection {
  @media (max-width: 840px) {
    grid-column: span 2;

    h1 {
      margin-bottom: $main-margin * 0.5;
    }
  }
}

.headshotSection {
  position: relative;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgb(0 0 0 / 15%);
  border-radius: 8px;

  img {
    display: block;
    border: 1px solid $pretty-black;
    border-radius: 8px;
    max-width: 300px;
  }

  a {
    position: absolute;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: 840px) {
    grid-column: span 2;
    box-shadow: unset;

    img {
      max-width: 200px;
      margin-bottom: $main-margin * .5;
    }

    a {
      display: block;
      position: relative;
      bottom: 0;
    }
  }
}

.iconsContainer {
  font-size: $main-font-size * 2.5;
  padding-left: $main-padding * .5;

  @media (max-width: 840px) {
    padding-left: 0;
    text-align: center;
  }

  .github{
    padding-right: $main-padding * .5;
    
    svg{
      fill: $pretty-black;

      &:hover,
      &:focus {
        fill: $pretty-black-90;
        transition: all 0.1s ease-in-out;
      }
    }
  }

  .linkedin{
    svg{
      fill:rgb(10, 102, 194);

      &:hover,
      &:focus {
        fill: rgba(10, 102, 194, .9);
        transition: all 0.1s ease-in-out;
      }
    }
  }
}