@use '../../styles/variables' as *;

.aboutSectionWrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: $main-padding * 2;
  max-width: 1000px;
  margin: $main-margin * 4 auto;
  align-items: center;
  justify-items: center;

  @media (max-width: 840px) {
    margin: $main-margin * 2 auto;
    gap: $main-padding;
  }
}

.introductionSection {
  @media (max-width: 840px) {
    grid-column: span 2;

    h1 {
      margin-bottom: $main-margin * 0.5;
    }
  }
}

.headshotSection {
  @media (max-width: 840px) {
    grid-column: span 2;

    img {
      max-width: 150px;
    }
  }
}

.iconsContainer {
  font-size: $main-font-size * 2;
  text-align: center;

  svg {
    fill: $pretty-black;

    &:first-child {
      margin-right: $main-margin * .5;
    }

    &:hover,
    &:focus {
      fill: $pretty-black-80;
    }
  }
}